In [2]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
totalcase_df = daily_df.drop(["Country_Region"], axis=1).sum().reset_index(name="Count")
totalcase_df = totalcase_df.rename(columns={"index": "condition", "Count": "count"})
countries_df = daily_df.groupby("Country_Region").sum().reset_index()



conditions = ["confirmed", "death", "recovered"]


def global_df():
    def make_df(condition):
        df = pd.read_csv(f"data/time_series_{condition}.csv")
        df = (
            df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})
        return df
    condition_df = []
    for c in conditions:
        condition_df.append(make_df(c))

    merged = condition_df[0]
    merged = pd.merge(condition_df[1], merged, how="left", on="date")
    merged = pd.merge(condition_df[2], merged, how="left", on="date")
    return merged


def country_df(country):
    def make_country_df (country, condition):
        c_df = pd.read_csv(f"data/time_series_{condition}.csv")
        c_df = c_df.loc[c_df["Country/Region"] == country]
        c_df = c_df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=condition)
        c_df = c_df.rename(columns={"index":"date"})
        return c_df

    condition_df = []
    for c in conditions:
        condition_df.append(make_country_df(country, c))

    merged = condition_df[0]
    merged = pd.merge(condition_df[1], merged, how="left", on="date")
    merged = pd.merge(condition_df[2], merged, how="left", on="date")
    return merged



countries_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      38143    1402      29063
1               Albania       9279     275       5020
2               Algeria      43781    1491      30717
3               Andorra       1124      53        902
4                Angola       2551     107       1041
..                  ...        ...     ...        ...
183  West Bank and Gaza      21668     147      14631
184      Western Sahara         10       1          8
185               Yemen       1946     563       1113
186              Zambia      11902     284      11092
187            Zimbabwe       6406     196       5056

[188 rows x 4 columns]

In [3]:
totalcase_df

   condition     count
0  Confirmed  24996456
1     Deaths    842499
2  Recovered  16409757